[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdfplumber = "*"
pypdf2 = "*"
pandas = "*"
pyxlsb = "*"
openpyxl = "*"
docx2pdf = "*"
pyqt6 = "*"
cubematch = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.11"
